body {
	background: linear-gradient(-45deg, #002535, #003851, #22646e, #bfd2d9, #3b89ac);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.msg {
 word-wrap:break-word;
 min-width:50px;
 max-width:80%;
 padding:5px;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
 background:#dae1e7
}
.msg p {
 margin:0 0 .2rem;
 font-size:14px;
 font-family:ubuntu,helvetica neue,Arial,sans-serif!important
}
img{
	width: 100%;
}

.nav-item{
	font-size: 1.1rem;
}
.nav-item:hover{
	color: #22646e;

}
a:hover {
    color: rgb(255, 37, 56);
    text-decoration: none;
    padding-bottom: 0.3rem;
    /*border-bottom: 1px solid;*/
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(54, 5, 162, 0.7);
}

:root {
  --box-shadow: 0px 10px 16px -12px rgb(116, 117, 128);
}

.div_clientes{
	-webkit-box-shadow: var(--box-shadow);
	-moz-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
	padding: 20px;
}