<script type="text/javascript">
function loadChat() {
    document.getElementById("chatbot").addEventListener("click", myFunction);
    document.getElementById("id_close").addEventListener("click", closeChat);
}

function myFunction() {
    document.getElementById("chatbot").style.display = "none"; 
    document.getElementById("chatbot_chat").style.display = "block"; 
}

function closeChat() {
    document.getElementById("chatbot").style.display = "block"; 
    document.getElementById("chatbot_chat").style.display = "none"; 
}

loadChat();
</script>
<div id="chatbot" class="desktop-closed-message-avatar" style="background: rgb(255, 37, 56) none repeat scroll 0% 0%; display: flex; justify-content: center; position: fixed; bottom: 20px; right: 20px; height: 60px; width: 60px; border: 0px none; border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;cursor:pointer">
    <img src="https://www.trepcom.com/wp-content/plugins/auyautochat-for-wp/assets/img/icon-message.png" style="width: 100%; height: auto; border-radius: 999px;">
</div>

<div id="chatbot_chat" style="display: none">
    <div style="position: fixed; bottom: 25px; right: 20px; z-index: 2147483647; box-sizing: content-box; overflow: hidden; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px; width: 350px;">
        <div style="background: rgb(0, 37, 56) none repeat scroll 0% 0%; height: 40px; line-height: 30px; font-size: 20px; display: flex; justify-content: space-between; padding: 5px 0px 5px 20px; font-family: Lato, sans-serif; color: rgb(255, 255, 255); cursor: pointer; box-sizing: content-box;">
            <div style="display: flex; align-items: center; padding: 0px 30px 0px 0px; font-size: 15px; font-weight: normal; color: rgb(255, 255, 255);">
            Chatea con nosotros
            </div>
            <div id="id_close">
                <svg style="margin-right: 15px; margin-top: 6px; vertical-align: middle;" fill="#FFFFFF" height="15" viewBox="0 0 15 15" width="15" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="15" x2="15" y2="1" stroke="white" stroke-width="1"></line><line x1="1" y1="1" x2="15" y2="15" stroke="white" stroke-width="1"></line>
                </svg>
            </div>
        </div>
        <div style="display: block; height: 450px;background-color: #fff;"">
            <iframe id="chatAutoFrame" src="/chatbot_index.html" allowtransparency="true" style="background-color: transparent;" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>